@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Arvo', serif;
}
h1{
    font-size: 8rem;
    font-weight: 600;
    color: #0C356A;
    font-family: 'Lobster', cursive;
    margin: 30px 0;
}
p{
    font-size: 1.8em;
    font-weight: 600;
    color: #000;
    font-family: 'Arvo', serif;
}
hr{
    border: 5px dotted #279EFF;
    border-style: none none dotted;
    width: 5%;
    margin: 50px auto;
}
.first-hr{
    margin: 80px auto 48px auto;
}
.logo {
    width: 110px;
    height: 55px;
    user-select: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #279EFF;
    padding: 10px 0;

}

.ham-icon{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham-icon span{
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 29px;
    margin: 8px auto;
    border-radius: 2px;
    
}

.menu-links{
    display: flex;
    padding: 0;
}
.menu-links li{
    padding: 0 40px;
    list-style-type: none;
}
.menu-links li a{
    text-decoration: none;
    font-size: 1.8rem;
    color:#f3f3f3;
    font-weight: 600;
}

.menu-links li a:hover{
    color: black;
    transition: .3s;
}

.aboutMe-content,.favSport-content{
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
    /* background: #aad3b7; */

}
.developerImg, .futbolImg{
    height: 30vw;
    min-height: 250px;
    max-width: 800px;
}
.text{
    width: 100%;
    text-align: center;
}
.favSport-content{
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
    /* background: #aad3b7; */
}


@media (max-width: 768px){
    .logo {
        padding-left: 25px;
        height: 40px;
        width: 80px;
    }
    .ham-icon{
        display: block;
        position: absolute;
        top: 18px;
        right: 25px;
        transition: 0.2s 0.1s;
    }
    .ham-icon:hover{
        transform: rotate(360deg);
        
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 18px 0;
    }
    .menu-links{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .menu-links li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    
    .aboutMe-content,.favSport-content{
        display: block;
        text-align: center;
        padding-top: 20px;
        width: 100%;
        height: 100vh;
    }
    .favSport-content{
        height: 98vh;
    }
    .favSport-content h1{
        font-size: 5rem;
    }
}

@keyframes showMenu {
    from{opacity: 0;}
    to{opacity: 1;}
}
.menu-links.active{
    display: flex;
    animation: showMenu 0.3s ease-in-out both;
}
.br-1.animated{
    transform: rotate(-45deg) translate(-10px, 6px);
}
.br-2.animated{
    opacity: 0;
}
.br-3.animated{
    transform: rotate(45deg) translate(-10px, -6px);
}

.bottom-container {
    padding: 30px 0;
    background-color: #0C356A;
    text-align: center;
    margin-bottom: 0;
}
.footer-link {
    margin: auto 30px auto 30px;
    text-decoration: none;
    color: #f3f3f3;
    text-decoration: none;
}


.bottom-container p{
    margin: 30px 0 0 0;
    color: #f3f3f3;
    text-decoration: none;
}

.bottom-container a:hover{
    color: #767676;
}
